@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

.fileCollection {
    background-color: #FFE3F5;
    margin-top: 8%;
    height: 100%;
    margin-left: auto!important;
}

.AudioFileBox {
    background: #392F5A;
    height: 200px;
    width: 200px;
    margin: 5%;
}

.AudioFileListItem {
    background: #392F5A;
    height: 7%;
    width: 90%;
    margin: 5%;
    border-radius: 25px;
    color: #fff;
    font-family: 'Poppins';
}

.AudioFileListElements {
    margin-right: 90%;
    padding-top: 1%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative
}

.AudioFileListLogo {
    margin-left: 25%;
}

.AudioFileListName{
    position: absolute;
    left: 90%;
    bottom: 13%;
    font-size: 21px;
}

.AudioFilePlayButton{
    position: absolute;
    left: 500%;
    cursor:pointer;
}

.AudioFileDownloadButton{
    position: absolute;
    left: 630%;
    cursor:pointer;
}

.AudioFileDeleteButton{
    position: absolute;
    left: 820%;
    cursor:pointer;
}

.AudioFilePlayButtonTitle{
    position: absolute;
    left: 540%;
    bottom: 23%;
    cursor:pointer;
}

.AudioFileDownloadButtonTitle{
    position: absolute;
    left: 670%;
    bottom: 23%;
    cursor:pointer;
}

.AudioFileDeleteButtonTitle{
    position: absolute;
    left: 860%;
    bottom: 23%;
    cursor:pointer;
}

.FileHeader {
    color: #fff;
    font-family: 'Poppins';
    font-size: 21px;
    padding-top: 5%;
    font-weight: 800;
}

.AudioFileBox {
    margin-top: 30px;
}

.DeleteFile {
    height: 55px;
    width: 55px;
    background-color: #EEC8E0;
    border-radius: 50%;
    display: inline-block;
    margin-left: 72%;
}

.PromptHeader {
    color: #fff;
    font-family: 'Poppins';
    font-size: 14px;
    padding-top: 5%;
    font-weight: 500;
}

.ManageHeading {
    color: #fff;
    font-family: 'Poppins';
    font-size: 40px;
    padding-top: 5%;
    font-weight: 800;
}

.modal {
    font-size: 12px;
  }
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.ListChoices {
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.PreviousChoiceButton {
    margin-right: 50%;
}
.PreviousChoiceButtonTitle {
    position: absolute;
    font-family:'Poppins';
    font-weight: 500;
    right: 47%;
    top: 122.8%;
}
.NextChoiceButton {
    
}
.NextChoiceButtonTitle {
    
}