@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

.settingsPage{
    background-color: #FFE3F5;
    margin-top: 8%;
    height: 100%;
    margin-left: auto!important;
}

.SettingsConfigTitle {
    color: #fff;
    font-family: 'Poppins';
    font-size: 50px;
    padding-top: 5%;
    font-weight: 800;
}

.SettingsConfigCallForwardTitle {
    color: #392F5A;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-top: 3%;
}

.SettingsConfigCallForwardDescription {
    color: #392F5A;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 1%;
}


.SettingsConfigCallForwardInput{
    width: 60%;
    margin-left: 20%;
}

.SettingsConfigVoicemailAudioTitle{
    color: #392F5A;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-top: 3%;
}

.SettingsConfigVoicemailAudioDescription{
    color: #392F5A;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 1%; 
}

.SettingsConfigVoicemailEmailDescription{
    color: #392F5A;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 1%; 
}

.VoicemailEmailInput {
    width: 60%;
    margin-left: 20%;
}